body{
	background: #595959;
}

#baymax{
	margin: 0 auto;
	height: 600px;
	overflow: hidden;
}

#head{
	height: 64px;
	width: 100px;
	border-radius: 50%;
	background: #fff;
	margin: 0 auto;
	margin-bottom: -20px;
	border-bottom: 5px solid #e0e0e0;
	z-index: 100;
	position: relative;
}

#eye1,#eye2{
	width: 11px;
	height: 13px;
	background: #282828;
	border-radius: 50%;
	position: relative;
	top: 30px;
	left: 27px;
	transform: rotate(8deg);

}
#eye2{
	transform: rotate(-8deg);
	left: 69px;
	top:17px;
}

#mouth{
	width: 38px;
	height: 1.5px;
	background: #282828;
	position: relative;
	top: 10px;
	left: 34px;
}

#body{
	margin:0 auto;
	height: 200px;
	height: 180px;
	background: #fff;
	border-radius: 50%:
	border:5px solid #e0e0e0;
	border-top:none;
	z-index: 1;  
}